#header {
    height: 70px;
    background-color: blue;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.menu {
    text-align: center;
    width: 100px;
    margin: 5px;
    background-color: aqua;
}

@media (max-width: 500px) { 

    #header {
    display: block;
    height: 200px;
    }
    .menu {
        width: 200px;
    }

 }