#div1 {
    background-color: blue;
    display: inline;
}

#div2 {
    background-color: yellow;
    display: inline;

}

#div3 {
    height: 100px;
    width: 100px;
    background-color: blue;
    overflow: auto;
}

#div4:hover {
    font-size: 50px;
}

/* #absolute {
    height: 400px;
    width: 400px;
    background-color: blue;
    position: absolute;
}

#relative {
    background-color: red;
} */

#responsive1 {
    background-color: blue;
}
#responsive2 {
    background-color: yellow;
}
#responsive3 {
    background-color: green;
}

@media (max-width: 900px) {
    #responsive1 {
        background-color: black;
    }
    #responsive2 {
        background-color: black;
    }
    #responsive3 {
        background-color: black;
    }
 }