#div1 {
    width: 500px;
    height: 500px;
    background-color: aqua;
    /* padding: 50px; */
    padding-top: 50px;

    /* margin-left: 50px; */
    margin: 50px;

    border-style: solid;
    border-color: black;
    border-width: 50px;

    border-radius: 50%;
}

#div2 {
    background-color: brown;
}